<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Project1</title>
</head>
<body>
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year -Alexander, Inthaluexay, Lapham, Payne</p>
    </footer>
</body>
</html>